<!-- <html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
       
        <%- include('_header'); %>

        <h2>welcome@ user ui<%= title %></h2>

        <%- include('_footer'); %>
    </body>
</html> -->
<link rel="stylesheet" href="/css/user_profile.css">

<h2>welcome@ user ui<%= title %></h2>
