<!-- <html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
       
        <%- include('_header'); %>

        <h2>welcome@ user ui<%= title %></h2>

        <%- include('_footer'); %>
    </body>
</html> -->
<link rel="stylesheet" href="/css/user_profile.css">
<a href="/user/signout">Sign out</a>
<h2>welcome@ user ui<%= title %></h2>
<p>Name:<%=user.name %></p>
<p>Name:<%=user.email %></p>
